---
layout: not_homepage
quote: Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.
author: Pele
---

{% include quote.html quote=page.quote author=page.author %}

<div class="project_list">
  <h2 class="heading center">Blog:</h2>
  {% for project in site.data.projects %}
    {% include project_box.html %}
  {% endfor %}
</div>

<div class="projects-bottom center-align">
  <h1 class="heading">Have questions, comments, feedback? Feel free to reach out!</h1>
  <div class="row">
    <div class="col m6 offset-m3 s12">
      <div class="row">
        <div class="col s6">
          <a href="/contact"><button type="button" class="fill col s12" name="button">contact</button></a>
        </div>
        <div class="col s6">
          <button type="button" class="fill col s12" id="scroll-top" title="scroll back top" name="button">scroll back top</button>
        </div>
      </div>
    </div>
  </div>
</div>
