---
layout: not_homepage
quote: I don’t have time for hobbies. At the end of the day, I treat my job as a hobby. It’s something I love doing.
author: David Beckham
---

{% include quote.html quote=page.quote author=page.author %}

<div class="container about_section">
  <div class="row">
    <img src="/assets/images/profile_picture.jpg" class="col m2 s3 responsive circle about_img" alt="me">
    <div class="about_paragraph">
      <p>
        Hi, my name is Albert and I'm a programmer. My first introduction to programming was during a project in one of my applied math courses that used linear regression to reconstruct pictures based on a huge sample. At first, I was skeptical about the results of this relatively simple mathematical operation to reconstruct right side of a picture based on left but was mindblown by the results. Since then I've learned various languages and frameworks and built more to-do lists then I can count. I've also worked as a teacher assistant in a programming bootcamp. It's always gratifying to help and teach people as well as partaking in a rabbit hole with students because everyone asks different questions that would never occur to me.
      </p>
      <p>
        I am now looking for my next adventure, so feel free to browse the <a class="about_me_links" href="/projects">projects</a> section to check out what I've built, <a class="about_me_links" href="/contact">shoot me an email</a> or connect on <a class="about_me_links" href="https://www.linkedin.com/in/levytsroman/">linkedIn</a>.
      </p>
    </div>
  </div>
  <h3 class="heading skills_heading center-align">Skills:</h3>
  <div class="skills_wrapper">
      {% for tech_group in site.data.skills %}
        <div class="skill_group">
          <div class="col m4 s6">
            <h4 class="heading">{{tech_group.name}}:</h4>
            <div class="skills">
              {% for tech in tech_group.skills %}
              <i class="about_skill_icon devicon-{{tech.class}}"></i><span class="skill_names">{{tech.skill_name}}</span><br/>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>
